*{
    -fx-background-color: #c5d6d9;
}

.big{
    -fx-text-fill: #394345;
}

Button, ChoiceBox, .menu-button{
    -fx-cursor: hand;
}

Button, label, ChoiceBox, Slider {
    -fx-text-fill: #394345;
}

Button {
    -fx-background-color: #b2ccd1
}

Button:hover{
    -fx-background-color: #9bbec4;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}

ChoiceBox >* {
    -fx-background-color: #b2ccd1;
    -fx-mark-color: #394345;
}

.choice-box .left-container .radio{
    -fx-background-color:  #394345;
}

.choice-box .label{
    -fx-text-fill: #394345;
}

.choice-box .menu-item:focused {
    -fx-cursor: hand;
}

Slider .axis {
    -fx-tick-label-fill: #394345;
}

Slider .track{
    -fx-background-color: #b2ccd1;
}

Slider .track:hover{
    -fx-background-color: #9bbec4;
}

Slider .track {
   -fx-cursor: hand;
}

/** color the arrow */
.table-view .column-header .arrow {
    -fx-background-color:  #394345;
}

.menu-item:hover{
   -fx-cursor: hand;
}
